@using CoiffeurApp.Models.CoiffeurModel
@model ModelCoiffeur
@{
    ViewBag.Title = "UserView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-content">
    <!--begin::Portlet-->
    <div class="m-portlet">
        <!--begin::Form-->
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Kullanıcı Form
                    </h3>
                </div>
            </div>
        </div>

        @using (@Html.BeginForm("UserView", "User", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right", @id = "m_form_1", enctype = "multipart/form-data" }))
        {
            <div class="m-portlet__body">
              
                @Html.TextBoxFor(m => Model.User.UserId, new { @class = "form-control m-input p-1 border border-primary", type = "hidden" })


                <div class="form-group m-form__group">
                    @Html.TextBoxFor(p => p.User.Type, new { @class = "form-control m-input", @type = "hidden" })
                </div>

                <div class="col-md-6 float-left">
                    <div class="form-group m-form__group ">
                        <label class="col-form-label">
                            Ad
                        </label>

                        <div class="m-typeahead">
                            @Html.TextBoxFor(m => Model.User.Name, new { @class = "form-control m-input p-1 border border-primary" })

                        </div>
                    </div>
                </div>

                <div class="col-md-6 float-left">
                    <div class="form-group m-form__group ">
                        <label class="col-form-label ">
                            Soyad
                        </label>

                        <div class="m-typeahead">
                            @Html.TextBoxFor(m => Model.User.Surname, new { @class = "form-control m-input border border-primary p-1" })

                        </div>

                    </div>
                </div>

                <div class="col-md-6 float-left">
                    <div class="form-group m-form__group ">
                        <label class="col-form-label ">
                            Kullanıcı Adı
                        </label>

                        <div class="m-typeahead">
                            @Html.TextBoxFor(m => Model.User.UserName, new { @class = "form-control m-input border border-primary p-1" })

                        </div>

                    </div>
                </div>

                <div class="col-md-6 float-left">
                    <div class="form-group m-form__group ">
                        <label class="col-form-label ">
                            Şifre
                        </label>

                        <div class="m-typeahead">
                            @Html.TextBoxFor(m => Model.User.Password, new { @class = "form-control m-input border border-primary p-1", @type = "password" })

                        </div>

                    </div>
                </div>

                <div class="col-md-6 float-left">
                    <div class="form-group m-form__group ">
                        <label class="col-form-label">
                            Mail
                        </label>
                        <div>

                            @Html.TextBoxFor(m => Model.User.Mail, new { @class = "form-control m-input border border-primary p-1", @type = "email" })


                        </div>
                    </div>
                </div>

                <div class="col-md-6 float-left">
                    <div class="form-group m-form__group ">
                        <label class="col-form-label">
                            Telefon
                        </label>
                        <div>

                            @Html.TextBoxFor(m => Model.User.Phone, new { @class = "form-control m-input border border-primary p-1", @type = "phone" })


                        </div>
                    </div>
                </div>
        
          

            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="col-md-12 float-left">
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-lg-9 ml-lg-auto">
                                <button type="submit" class="btn btn-success">
                                    Kaydet
                                </button>
                                <button type="reset" class="btn btn-secondary">
                                    Vazgeç
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


